<template>
  <div class="home">
    
    <div class="table">
    <div class="row">
      <label>User</label>
      <input v-model="user" placeholder="user">
    </div>
    <div class="row second">
      <label>Message</label>
      <input v-model="message" placeholder="mssage">
    </div>
    <button class="btn" type="button" v-on:click="SignalR()">Submit Chat</button>
    <button class="btn second-btn" type="button" v-on:click="Clear()">Clear Chat</button>
     </div>
    <div v-for="(k,index) in listMessage" :key="index">
      <p>{{k.name}} : {{k.message}}</p> 
    </div>   
  </div>
</template>
<script>
    import * as signalR from '@aspnet/signalr';
    export default {
        name: 'home',
        components: {
        },
        data: function () {
            return {
                user : null,
                message: null,
                listMessage: [],
                connection: new signalR.HubConnectionBuilder().withUrl('http://10.0.2.20/EPS.API/chat').build(),
            }
        },
        created() {
            var vm = this;
            vm.connection.on('ReceiveMessage', (user, data) => {
           const insertdata = {name: user, message: data};
           this.listMessage.push(insertdata);
           // tslint:disable-next-line:no-console
           console.log(this.listMessage);
           // tslint:disable-next-line:no-console
           console.log(user, data);
     });
        },
        methods: {
            SignalR() {
                if (this.connection.state === signalR.HubConnectionState.Connected) {
                this.connection.invoke('SendMessage', this.user, this.message);
                    } else {
                this.connection.start()
                        .then(() => this.connection.invoke('SendMessage', this.user, this.message));
                }
            }
        }
    }
</script>

<style scoped lang="scss">
.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  .table {
    width : 20%;
    height: 50%;
    border:2px solid black;
    align-self: center;
    padding: 2%;
    .row {
      display: flex;
      flex-direction: row;
      justify-content: center;
      justify-items: center;
    }
     .second {
        margin-top:4%;
      }
      .btn {
        margin-top:2%;
        cursor: pointer;
      }
      .second-btn {
        margin-left: 2%;
      }
    .row label {
      flex: 1;
    }
  }
}

@media (min-width: 400px) and (max-width: 1024px) {
.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  .table {
    width : 40%;
    height: 50%;
    border:2px solid black;
    align-self: center;
    padding: 2%;
    .row {
      display: flex;
      flex-direction: row;
      justify-content: center;
      justify-items: center;
    }
     .second {
        margin-top:4%;
      }
      .btn {
        margin-top:2%;
        cursor: pointer;
      }
    .row label {
      flex: 1;
    }
  }
}
}

</style>