<template>
    <div class="animated fadeIn">
        <b-row>
            <b-col lg="8">
                <b-card>
                    <b-form @submit.prevent="save">
                        <b-row>
                            <b-col md="12">
                                <b-form-group label="Tên khách hàng:"
                                              label-for="TenKhachHang"
                                              :horizontal="true"
                                              label-class="required">
                                    <b-form-input type="text" id="TenKhachHang"
                                                  v-model="$v.customer.TenKhachHang.$model"
                                                  :state="$v.customer.TenKhachHang.$dirty? !$v.customer.TenKhachHang.$error : null">
                                    </b-form-input>
                                    <b-form-invalid-feedback>
                                        Vui lòng nhập tên khách hàng
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="6">
                                <b-form-group label="Mã khách hàng:"
                                              label-for="MaKhachHang"
                                              :horizontal="true"
                                              label-class="required">
                                    <b-form-input type="text" id="MaKhachHang"
                                                  v-model="$v.customer.MaKhachHang.$model"
                                                  :state="$v.customer.MaKhachHang.$dirty? !$v.customer.MaKhachHang.$error : null">
                                    </b-form-input>
                                    <b-form-invalid-feedback>
                                        Vui lòng nhập mã khách hàng
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </b-col>
                            <b-col md="6">
                                <b-form-group label="Nhóm khách hàng:"
                                              label-for="NhomKhachHang"
                                              :horizontal="true"
                                              label-class="required">
                                    
                                    <b-form-select v-model="$v.customer.NhomKhachHang.$model" :options="options" :state="$v.customer.NhomKhachHang.$dirty? !$v.customer.NhomKhachHang.$error : null">
                                    </b-form-select>
                                    <b-form-invalid-feedback>
                                        Vui lòng chọn nhóm khách hàng
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="6">
                                <b-form-group label="Số điện thoại:"
                                              label-for="DienThoai"
                                              :horizontal="true"
                                              label-class="required">
                                    <b-form-input type="text" id="DienThoai"
                                                  v-model="$v.customer.DienThoai.$model"
                                                  :state="$v.customer.DienThoai.$dirty? !$v.customer.DienThoai.$error : null">
                                    </b-form-input>
                                    <b-form-invalid-feedback>
                                        Vui lòng nhập mã khách hàng
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </b-col>
                            <b-col md="6">
                                <b-form-group label="Email:"
                                              label-for="Email"
                                              :horizontal="true"
                                              >
                                    
                                    <b-form-input type="text" id="Email"
                                                  v-model="customer.Email"
                                                  >
                                    </b-form-input>
                                    <b-form-invalid-feedback>
                                        Vui lòng chọn nhóm khách hàng
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="12">
                                <b-form-group :label-cols="4"
                                              :horizontal="true">
                                    <b-button v-if="authorize(['ManageRole'])" type="submit" variant="primary"><i class="fa fa-floppy-o"></i> Ghi lại</b-button>
                                    <b-button type="button" variant="secondary" @click="cancel"><i class="fa fa-ban"></i> Hủy</b-button>
                                </b-form-group>
                            </b-col>
                        </b-row>
                    </b-form>
                </b-card>
                <b-card>
                    <div slot="header">
                        <strong>Thông tin địa chỉ</strong>
                    </div>
                    <b-form @submit.prevent="save">
                        
                        <b-row>
                            <b-col md="6">
                                <b-form-group label="Nhãn:"
                                              label-for="NhanDiaChi"
                                              :horizontal="true"
                                              label-class="required">
                                    <b-form-input type="text" id="NhanDiaChi"
                                                  v-model="customer.NhanDiaChi"
                                                  >
                                    </b-form-input>
                                    
                                </b-form-group>
                            </b-col>
                            <b-col md="6">
                                <b-form-group label="Khu vực:"
                                              label-for="NhomKhachHang"
                                              :horizontal="true"
                                              label-class="required">
                                    <select2 :options="options" v-model="customer.NhomKhachHang"></select2>
                                    <b-form-invalid-feedback>
                                        Vui lòng chọn nhóm khách hàng
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="6">
                                <b-form-group label="Số điện thoại:"
                                              label-for="DienThoai"
                                              :horizontal="true"
                                              label-class="required">
                                    <b-form-input type="text" id="DienThoai"
                                                  v-model="$v.customer.DienThoai.$model"
                                                  :state="$v.customer.DienThoai.$dirty? !$v.customer.DienThoai.$error : null">
                                    </b-form-input>
                                    <b-form-invalid-feedback>
                                        Vui lòng nhập mã khách hàng
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </b-col>
                            <b-col md="6">
                                <b-form-group label="Email:"
                                              label-for="Email"
                                              :horizontal="true"
                                              >
                                    
                                    <b-form-input type="text" id="Email"
                                                  v-model="customer.Email"
                                                  >
                                    </b-form-input>
                                    <b-form-invalid-feedback>
                                        Vui lòng chọn nhóm khách hàng
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="12">
                                <b-form-group :label-cols="4"
                                              :horizontal="true">
                                    <b-button v-if="authorize(['ManageRole'])" type="submit" variant="primary"><i class="fa fa-floppy-o"></i> Ghi lại</b-button>
                                    <b-button type="button" variant="secondary" @click="cancel"><i class="fa fa-ban"></i> Hủy</b-button>
                                </b-form-group>
                            </b-col>
                        </b-row>
                    </b-form>
                </b-card>
                <b-card>
                    <div slot="header">
                        <strong>Thêm mới khách hàng</strong>
                    </div>
                    <b-form @submit.prevent="save">
                        <b-row>
                            <b-col md="12">
                                <b-form-group label="Tên khách hàng:"
                                              label-for="TenKhachHang"
                                              :horizontal="true"
                                              label-class="required">
                                    <b-form-input type="text" id="TenKhachHang"
                                                  v-model="$v.customer.TenKhachHang.$model"
                                                  :state="$v.customer.TenKhachHang.$dirty? !$v.customer.TenKhachHang.$error : null">
                                    </b-form-input>
                                    <b-form-invalid-feedback>
                                        Vui lòng nhập tên khách hàng
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="6">
                                <b-form-group label="Mã khách hàng:"
                                              label-for="MaKhachHang"
                                              :horizontal="true"
                                              label-class="required">
                                    <b-form-input type="text" id="MaKhachHang"
                                                  v-model="$v.customer.MaKhachHang.$model"
                                                  :state="$v.customer.MaKhachHang.$dirty? !$v.customer.MaKhachHang.$error : null">
                                    </b-form-input>
                                    <b-form-invalid-feedback>
                                        Vui lòng nhập mã khách hàng
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </b-col>
                            <b-col md="6">
                                <b-form-group label="Nhóm khách hàng:"
                                              label-for="NhomKhachHang"
                                              :horizontal="true"
                                              label-class="required">
                                    
                                    <b-form-select v-model="$v.customer.NhomKhachHang.$model" :options="options" :state="$v.customer.NhomKhachHang.$dirty? !$v.customer.NhomKhachHang.$error : null">
                                    </b-form-select>
                                    <b-form-invalid-feedback>
                                        Vui lòng chọn nhóm khách hàng
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="6">
                                <b-form-group label="Số điện thoại:"
                                              label-for="DienThoai"
                                              :horizontal="true"
                                              label-class="required">
                                    <b-form-input type="text" id="DienThoai"
                                                  v-model="$v.customer.DienThoai.$model"
                                                  :state="$v.customer.DienThoai.$dirty? !$v.customer.DienThoai.$error : null">
                                    </b-form-input>
                                    <b-form-invalid-feedback>
                                        Vui lòng nhập mã khách hàng
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </b-col>
                            <b-col md="6">
                                <b-form-group label="Email:"
                                              label-for="Email"
                                              :horizontal="true"
                                              >
                                    
                                    <b-form-input type="text" id="Email"
                                                  v-model="customer.Email"
                                                  >
                                    </b-form-input>
                                    <b-form-invalid-feedback>
                                        Vui lòng chọn nhóm khách hàng
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="12">
                                <b-form-group :label-cols="4"
                                              :horizontal="true">
                                    <b-button v-if="authorize(['ManageRole'])" type="submit" variant="primary"><i class="fa fa-floppy-o"></i> Ghi lại</b-button>
                                    <b-button type="button" variant="secondary" @click="cancel"><i class="fa fa-ban"></i> Hủy</b-button>
                                </b-form-group>
                            </b-col>
                        </b-row>
                    </b-form>
                </b-card>
            </b-col>
            <b-col lg="4">
                <b-card>
                    <div slot="header">
                        <strong>Thông tin khác</strong>
                    </div>
                    <b-form @submit.prevent="save">
                        
                    </b-form>
                </b-card>
            </b-col>
        </b-row>
    </div>
</template>
<script>
    import { validationMixin } from 'vuelidate'
    import { authorizationMixin } from '@/shared/mixins'
    import { required } from 'vuelidate/lib/validators'

    export default {
        name: 'CreateCustomer',
        mixins: [validationMixin, authorizationMixin],
        data() {
            return {
                customer: {
                    MaKhachHang: null,
                    TenKhachHang: null,
                    NhomKhachHang:null,
                    DienThoai:null,
                    Email:null
                },
                options: [
                { value: 1, text: 'VIP' },
                { value: 2, text: 'Bán lẻ' },
                { value: 3, text: 'Bán buôn', disabled: true },
                ],
            }
        },
        validations: {
            customer: {
                MaKhachHang: { required },
                TenKhachHang: { required },
                NhomKhachHang: { required },
                DienThoai: { required }
            }
        },
        created() {

        },
        methods: {
            cancel() {
                this.$router.push({ path: '/system/roles/list' });
            },
            save() {
                this.$v.$touch();
                if (!this.$v.$invalid) {
                    var vm = this;
                    this.$services.post('roles', this.role).done((id) => {
                        vm.$toastr.s('Tạo mới nhóm người dùng thành công');
                        vm.$router.push({ path: '/system/roles/list' });
                    });
                }
            }
        }
    }
</script>
<style scoped>
</style>
